.cartas {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 50px;
    left: 50px;
    /* la opacidad que va del 0 al 1 */
    z-index: 5;
    /* cuanta mas capa (z-index: ;) queda mas arriba */
}

#j {
    top: 100px;
    left: 100px;
    z-index: 4;
}

#q {
    top: 150px;
    left: 150px;
    z-index: 3;
}

#k {
    top: 200px;
    left: 200px;
    z-index: 2;
}

#a {
    top: 250px;
    left: 250px;
    z-index: 1;
}