div{
    background-color: gray;
    height: 20%;
    width: 100%;
}
img{
    height: 200px;
    width: 200px;
}
h1{
    font-family: sans-serif;
    font-size: xx-large;
    text-align: center;
    color: white;
}
li{
    padding: 2%;   
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}