
.mesa {
        position: relative;
        width: 300px;
        height: 250px;
        margin-top: 30px;
}

.carta {
        position: absolute;
        width: 120px;
        border: 1px solid #555;
        border-radius: 6px;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}