.internos {
    width: 100px;
    height: 150px;
    border: 1px solid black;
    position: absolute;
    top: 50px;
    left: 50px;    
    z-index: 4;
}
.internos:nth-of-type(2) {
    top: 100px;
    left: 100px;
    z-index: 3;
}
.internos:nth-of-type(3) {
    top: 150px;
    left: 150px;
    z-index: 2;
}
.internos:nth-of-type(4) {
    top: 200px;
    left: 200px;
    z-index: 1;
}
.internos:nth-of-type(5) {
    top: 250px;
    left: 250px;
    z-index: 0;
}