#menu{
    position: fixed;
    width: 10%;
    top: 0;
    left: 0;
    height: 21,5%;
    list-style: none;
    padding: 0;/* el paddiong y el margin los ponemos con valor 0 para que no tengan espacio*/
    margin: 0;
    margin-left: 45%;
    margin-right: 45%;
    border: 1px solid black;
    background-color: #616161;
}
#menu li a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-bottom: 1px solid #999;    
}
#menu li a:hover{
    background-color: #3b3b3b;
}
#menu title{
    color: yellow;
}