/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    animation: colorChange 5s infinite;
	background-image: url('https://gregoriofer.com/wp-content/uploads/2018/06/logoGF-colorNuevo.png');
	background-repeat: no-repeat;
    background-size: contain;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    /*transition: color 0.3s;*/
}

nav ul li a:hover {
    color: #ff6347;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

aside {
    background-color: #f4f4f4;
    padding: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 0.5rem;
}

form input, form textarea {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
}

form button {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #ff6347;
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 1rem;
    }

    main {
        grid-template-columns: 1fr;
    }
}

/* Animaciones */
@keyframes colorChange {
    0% { background-color: #333; }
    50% { background-color: #555; }
    100% { background-color: #333; }
}