.internos {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    background-color: lightblue;
    position: absolute;
    top: 50px;
    left: 50px;
    opacity: 0.8;    
    z-index: 4;
}
.internos:nth-of-type(2) {
    top: 100px;
    left: 100px;
    background-color: lightcoral;
    z-index: 3;
}
.internos:nth-of-type(3) {
    top: 150px;
    left: 150px;
    background-color: lightgrey;
    z-index: 2;
}
.internos:nth-of-type(4) {
    top: 200px;
    left: 200px;
    background-color: lightpink;
    z-index: 1;
}
p.columnas {
    columns: 2; /*para hacer columnas*/
}
p:last-of-type {
    height: 200px;
    width: 200px;
    overflow: scroll;
}
#superior {
    position: relative;
    width: 100%;
    height: 400px;
}