* {
    margin: 0;
    padding: 0;

}
div:first-of-type{
    background-color: gray;
    width:100% ;
    height: 120px;
    text-align: center;
    position: fixed;
    top:0px;
    left: 0px;
}
ul{
    position: fixed;
    top: 120px;
    left: 0px;
    background-color: gray;
    width: 15%;
    height: 2000px;
    border-right: 7px dotted;
}
ul li a{
     color: blue;
     text-decoration: none;
     display: block;
     width: 100%;
     height: 80px;
     
}
a:hover{
    background-color: lightgray;
    color: black;
}
ul li{
    list-style: none;
    height: 80px;
}
#texto {
    margin-top: 120px;
    margin-left: 17%;
}