.izquierda {
    border: 5px solid black;
    border-color: white;
    background-color: black;
    color: red;
    width: 150px;
    height: 150px;
    text-decoration: underline;
    text-align: center;
    font-size: 25px;
    float: left;

}
.fondo { 
    top: 5px;
    border: 10px dashed black; /*Esto es para que esten alineados las cajas */
    border-top: 0px;
    background-color: gray;
     width: 900px;
    height: 150px;
    text-align: center;
    height: 500px;
    margin-left: 175px;
    color: palevioletred;
    font-weight: bold;
    font-size: 50px;
    
}
.fondo:nth-of-type(2) { 
    top: 5px;
    border: 10px dashed black; /*Esto es para que esten alineados las cajas */
    background-color: white;
     width: 900px;
    height: 150px;
    text-align: center;
    height: 500px;
    margin-left: 175px;
    color: palevioletred;
    font-weight: bold;
    font-size: 50px;
    
}
.derecha {
    border: 5px solid black;
    background-color: white;
    color: red;
    width: 150px;
    height: 150px;
    text-decoration: underline;
    text-align: center;
    font-size: 25px;
    float: right;
    margin-right: 25px;
}