body {
    background-color: lightgrey;
}

p:nth-child(2n){
    color: darkblue;
}

p:nth-child(2n + 1){
    color: darkred;
}

p:hover{
    color: darkcyan !important;
    font-size: 25px;
    letter-spacing: 1px;
}