body{
    background-image: url(imagen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#escudo{
    margin-left: 55%;
    margin-top: 25%;


}
h1{
    color: white;
    position: sticky;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    top: 90%;
    margin-left: 70%;
    
}