.grande {
    width: 40%;
    height: 700px;
    border-style: dashed;
    border: 5px solid black solid gray;
    margin-left: 30%;
    margin-right: 35%;
    text-align: center;
    font-size: 60px;
}

#gris {
    background-color: gray;
}

#blanco {
    background-color: white;
}

#left {
    border: 3px solid gray;
    float: left;

}

#right {
    border: 3px solid black;
    float: right;
}

.pequeños {
    height: 100px;
    width: 100px;
    position: sticky;
    top: 0px;
    background-color: white;
    text-align: center;
}

.pequeños:hover {
    background-color: black;
}

a {
    color: red;
}