body{
    background-image: url(mayor.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#escudo{
   width: 150px;
   margin-top: 20%;
   margin-left: 55%;
   position: fixed;
}
#texto{
    color: white;
    margin-top: 27%;
    margin-left: 55%;
    position: fixed;
    font-size: 60px;
    font-weight: bold;
}