body{
    background-image: url(Valladolid-plaza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
img{
    position: relative;
    width:10%;
    height:10%;
    margin-top: 20%;
    margin-left:60%;
}
p{
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color:white;
    margin-top: -5%;
    margin-left:60%;
}