.botones {
    color: red;
    width: 100px;
    height: 100px;
    text-align: center;
    border:6px solid black;
    top:15%;
}
.botones:hover{
    border:6px double white;
    background-color: black;
    
}

#izquierda {
    left:10%;
    position: sticky;
}

#derecha {
    left:85%;
    position: sticky;
}
a:hover{
    color:fuchsia;
}
a{
    color:red;
}

#medio {
    width: 50%;
    height: 850px;
    color: fuchsia;
    border: 10px dashed black;
    position: relative;
    left:25%;
    top:-230px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#medio:nth-child(even) {
    background-color: white;
}

#medio:nth-child(odd) {
    background-color: grey;
}
#medio:last-of-type{
    color:black;
}