p:first-of-type {
    background-image: url('https://picsum.photos/90/90/');
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-position: 30px 30px;
    background-size: contain;
    margin: 3%;
}
p:last-of-type {
    text-align: justify;
    vertical-align: middle;
    border: 1px solid black;
}

#parrafo {
    /*border-bottom: 2px;
    border-color: black;
    border-style: dashed;*/
    border: 2px dashed black;
    background-color: lightgreen;
    padding-left: 1%;
    margin-left: calc(3%-4px);
    /*clip-path: polygon(77% 8%, 33% 11%, 24% 40%, 25% 59%, 60% 57%, 79% 40%, 80% 60%, 73% 77%, 44% 85%, 29% 81%, 15% 71%, 9% 61%, 7% 42%, 5% 30%, 5% 14%, 5% 8%, 18% 4%, 34% 0%, 54% 0%, 62% 0%, 75% 1%, 100% 24%, 100% 50%, 99% 71%, 94% 87%, 81% 1%, 83% 10%, 74% 24%, 74% 32%, 90% 30%, 58% 14%, 48% 31%, 63% 26%, 59% 37%, 46% 39%, 55% 49%);*/

}