nav {
    background-color: #808080;
}
nav>ul.menu>li {
    list-style: none;
    display: inline-block;
    position: sticky;
}

section#imagen {
    float: right;

}
section>article {
    width: 200px;
}