.carta{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 50px;
}
.carta:nth-of-type(5){
    width: 100px;
    height: 100px;
    top: 100px;
    left: 100px;
    z-index: 5;
}
.carta:nth-of-type(4){
    width: 100px;
    height: 100px;
    top: 150px;
    left: 150px;
    z-index: 4;
}
.carta:nth-of-type(3){
    width: 100px;
    height: 100px;
    top: 200px;
    left: 200px;
    z-index: 3;
    
}
.carta:nth-of-type(2){
    width: 100px;
    height: 100px;
    top: 250px;
    left: 250px;
    z-index: 2;
}
.carta:nth-of-type(1){
    width: 100px;
    height: 100px;
    top: 300px;
    left: 300px;
    z-index: 1;
}
/* .carta:nth-of-type(5){
    width: 100px;
    height: 100px;
    top: 350px;
    left: 350px;
    z-index: 5;
} */