body {
    font-family: Arial, sans-serif;
    padding: 20px;
    font-size: 10px;
}

p {
    padding: 15px;      
    margin-bottom: 0;   
}

p:nth-child(2n+1) {
    background-color: #f0f0f0; 
    color: #333;               
}

p:nth-child(2n) {
    background-color: white; 
    color: gray;            
}

p:hover {
    color: #ff4500;       
    font-size: 12px; 
}