#logo {
    top: 35%;
    left: 35%;
    z-index: 2;
    height: 100px;
    width: 100px;
    position: fixed;
}

div {
    top: 45%;
    left: 30%;
    position: fixed;
    z-index: 3;
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
html{
background-image: url(https://www.viajablog.com/wp-content/uploads/2020/12/Plaza-Mayor-de-Valladolid.jpg);
background-repeat: no-repeat;
background-size: cover;
z-index: 1;
}