body {
    background-image: url('PlazaMayor.png') ;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 0;
}
img.LogoPucela {
    position: relative;
    top: 0.2%;
    left: 0.2%;
    z-index: 1;
    width: 12%;
    height: 12%;

}