body {
    background-color: lightslategray;
    border: 0;
    margin: 0;
}

#titulo {
    background-image: url(imagen-valladolid.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 350px;
}

#escudo {
    top: 90px;
    left: 48.3%;
    width: 100px;
    height: 100px;
    position: relative;
}

p {
    color: white;
    font-weight:bolder;
    font-size: 30pt;
    top: 10px;
    left: 50%;
    position: relative;
}