

body {
    
    background-color: rgb(255, 0, 0);
}

div#rectanguloAmarillo3 {
    position: absolute;
    left: 72.53%;   /* 544px / 750 */
    top: 47.35%;    /* 250px / 528 */
    width: 22.13%;  /* 166px / 750 */
    height: 7.58%;  /* 40px / 528 */
    background-color: yellow;
}

div#rectanguloAmarillo2 {
    position: absolute;
    left: 39.2%;    /* 294px / 750 */
    top: 47.35%;
    width: 22.13%;
    height: 7.58%;
    background-color: yellow;
}

div#rectanguloAmarillo1 {
    position: absolute;
    left: 5.6%;     /* 42px / 750 */
    top: 47.35%;
    width: 22.13%;
    height: 7.58%;
    background-color: yellow;
}

div#cuadradoRojo1 {
    position: absolute;
    top: 15.91%;    /* 84px / 528 */
    left: 5.6%;
    height: 31.44%; /* 166px / 528 */
    width: 22.13%;
    background-color: blue;
}

div#cuadradoRojo2 {
    position: absolute;
    top: 15.91%;
    left: 39.2%;
    height: 31.44%;
    width: 22.13%;
    background-color: blue;
}

div#cuadradoRojo3 {
    position: absolute;
    top: 15.91%;
    left: 72.53%;
    height: 31.44%;
    width: 22.13%;
    background-color: blue;
}

div#rectanguloVerde {
    position: absolute;
    left: 5.6%;
    top: 67.23%;    /* 355px / 528 */
    width: 88.93%;  /* 667px / 750 */
    height: 15.72%; /* 83px / 528 */
    background-color: green;
}







/*
div#fondoAzul {
    width: 750px;
    height: 528px;
    background-color: rgb(255, 0, 0);
}
div#rectanguloAmarillo3 {
    position: absolute;
    left: 544px;
    top: 250px;
    width: 166px;
    height: 40px;
    background-color: yellow;
}



div#rectanguloAmarillo2 {
    position: absolute;
    left: 294px;
    top: 250px;
    width: 166px;
    height: 40px;
    background-color: yellow;
}
div#rectanguloAmarillo1 {
    position: absolute;
    left: 42px;
    top: 250px;
    width: 166px;
    height: 40px;
    background-color: yellow;
}
div#cuadradoRojo1 {
    position: absolute;
    top: 84px;
    left: 42px;
    height: 166px;
    width: 166px;
    background-color: blue;
}
div#cuadradoRojo2 {
    position: absolute;
    top: 84px;
    left: 294px;
    height: 166px;
    width: 166px;
    background-color: blue;
}

div#cuadradoRojo3 {
    position: absolute;
    top: 84px;
    left: 544px;
    height: 166px;
    width: 166px;
    background-color: blue;
}
    
div#rectanguloVerde {
    position: absolute;
    left: 42px;
    top: 355px;
    width: 667px;
    height: 83px;
    background-color: green;
}

    para calcular porcentajes: (dimension objeto / dimension fondo) *100 aka
    en horizontal dividir por 750 y multiplicar por 100
    en vertical dividir por 528 y multiplicar por 100 */
    
