#parrafoLorem {
    
    font-family: Arial, sans-serif;
    line-height: 1.5;
}
#Encabezado *{
    background-color: #766224 !important;
    color: #242973 !important;
}
p {
    color: #736324;
    font-size: 64px;
}
.verde{
    color: green;
    font: 32px;
}
.Legend {
    font-size: 32px
}
.Mayusculas{
    text-transform: uppercase;
}
h1 {
    color: #352473;
    font-size: 128px;
}
