body {
    margin: 0%;
    padding: 0%;
}

header * {
    margin: 0%;
    padding: 0%;
    background-color: #808080;
    position: sticky;
}
.menu {
    padding-left: 43%;
    padding-left: 85%;
}
.menu>li {
    display: inline-block;
    padding: 2%;
    padding-bottom: 8%;
}
.menu>li>a {
  
   
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

section#imagen{
    /*margin-top: 40px;padding-right:1%; padding-left: 43%;*/
    float: right;
    display: block;
    
}


#sec1,#sec2,#sec3 {
    float:left;
    overflow-y: scroll;
    
}